.hero-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;  /* Pushes .hero-main to the right */
    align-items: flex-start;  /* Centers vertically */
    padding: 15vh 0;
    will-change: transform;
}

.hero-triangles {
    position: absolute;
    bottom: 0;
    left: 50%;            /* Center point */
    transform: translateX(-50%); /* Center the triangle container */
    width: 100vw;
    height: 100vh;
    will-change: transform;
}

.hero-triangle {
    position: absolute;
    bottom: 10vh;
    left: 0;             /* Reset left position */
    width: 100vw;
    height: 100vh;       /* Allow full height */
    object-fit: cover;   /* Cover available space */
    object-position: bottom; /* Anchor to bottom */
    opacity: 0;
    animation: outlineToFill 2s forwards;
    transition: bottom 0.1s ease-out;
    transform: translate3d(0, 0, 0); /* Enable hardware acceleration */
    will-change: transform, bottom;
}

/* Specific z-index layering */
.t1 { 
    z-index: 4; 
    height: 50vh;
    bottom: 4vh;
    transform: rotate(180deg);      /* Custom heights for each triangle */
    animation-delay: 0.8s;
}
.t2 { 
    z-index: 6; 
    height: 100vh;
    bottom: 3vh;      /* Custom heights for each triangle */
    animation-delay: 1.5s;
} /* Above hero.svg */
.t3 { 
    z-index: 2; 
    height: 40vh;
    bottom: 5vh;
    animation-delay: 1s;
}
.t4 { 
    z-index: 5; 
    height: 23vh;
    bottom: 0vh;      /* Custom heights for each triangle */
    animation-delay: 1.7s;
}


.hero-items-container {
    position: relative;
    z-index: 5; /* Always on top */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 1;

}

.hero-h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark);
    margin: 0;
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
    animation-delay: 2s;
}

.hero-p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark);
    line-height: 1.5;
    margin: 0;
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
    animation-delay: 3s;
}

.strike-text {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    opacity: 0.5;
    text-decoration-color: var(--dark);
}

.bt-container {
    display: flex;
    gap: 1rem;
    align-items: left;
    opacity: 0;
    animation: fadeInUp 0s forwards;
    animation-delay: 5s;
}

.bt {
    animation: popIn .5s steps(10, end) forwards;
    opacity: 0;
}

.bt-primary {
    animation-delay: 5.1s;
}

.bt-secondary {
    animation-delay: 6.5s;
}

@keyframes outlineToFill {
    0%, 50% {
        opacity: 1;
        fill: none;
    }
    100% {
        opacity: 1;
        fill: currentColor;
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: translate3d(-50%, 5px, 0);
    }
    100% { 
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes fadeInUp {
    0% { 
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        top: 2vh;
    }
    100% { 
        opacity: 1;
        transform: translate3d(0, 0, 0);
        top: 3vh;
    }
}

@keyframes popIn {
    0% {
        opacity: 90%;
        transform: scale(1.0);
    }
    10% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}