.footer {
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-frame {
    background-color: var(--dark);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;    
}

.footer-container {
    max-width: 1065px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between;
    gap: 10rem;
    width: 100%;
}

.footer-logo-date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align items to the top */
}

.logo-image {
    height: 20px;
    width: auto;
}

.footer-date {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--light);
    padding: 0;
    margin: 0;
}

.footer-list-note-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the top */
    gap: 1rem;
}

.footer-item a {
    text-decoration: none;
    color: var(--light);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-item a:hover {
    color: var(--light-d);
}

#noteField {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--light);
    text-decoration: none;
    color: var(--dark);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 0; /* Remove top margin */
    width: 100%;
    max-width: 300px;
    text-align: left;
    outline: none;
}

.footer-img {
    width: 100%;
}