* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


/* TITLES */
@media screen and (max-width: 768px) {
    .title-container .title-text {  
        font-size: 5vh;
        
    }

    .title-container{
        margin-bottom: 15px;
        padding: 10px 15px;
    }
}

/* SECTIONS */
/* Global section styling */
@media screen and (max-width: 768px) {
    .section {  
        min-height: 100vh;
        padding:0 3vw;
        padding-bottom: 15px;
    }
}







/* HEADER */
@media screen and (max-width: 768px) {
    /* Hide the menu by default */

    .header {
        display: flex;
        width: 100%;
        height: 50px;
        padding-left: 10px;
        align-items: center;
    }
    
    .menu-item-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: fit-content;
        height: fit-content;
        background: var(--dark);
        border: var(--dark) 1px solid;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        
        transition: right 0.2s steps(3, end) forwards;
    }

    .menu-item {
        display: flex;
        text-align: center;
        width: 100%;
        text-decoration: none;
        padding: 15px 20px;
        cursor: pointer;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: var(--light);
    }
    
    .contact-menu-item {
        display:flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    .dropdown-content {
        padding: 0px;
        transition: height 0.2s steps(3, end), padding 0.1s steps(1, end);
        margin-top: .3rem;

    }

    .contact-menu-item:hover .dropdown-content {
        margin-top: .3rem;
    }

    /* Menu Button (Circular) */
    .menu-button {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background:var(--yellow);
        border: var(--dark) 1px solid;
        border-radius: 100px;
        cursor: pointer;
        z-index: 1100;
        transition: background 0.2s steps(2, end);
    }

    /* Menu Open */
    .menu-open .menu-item-container {
        right: 0;
    }

    /* Change button to red when menu is open */
    .menu-open .menu-button {
        background: var(--red);
    }
}





/* HERO */
@media screen and (max-width: 768px) {

    .hero-section {
        padding-top: 5vh;
        bottom: 0;
        height: 100vh;
        margin: 0;
    }

    .hero-triangles {
        position: absolute;
        transform: translateX(-50%); /* Center the triangle container */
        height: 50vh;

    }

    .hero-triangle {
        position: absolute;
        width: 100vw;
        height: 30vh;       /* Allow full height */

    }

    .t2 {
        display: flex;
        padding-bottom: 4vh;
        width: 100vw;
        height: 600px;
    }
    .t1 {
        display: flex;
        padding-bottom: 8vh;
        height: 550px;
    }

    .t3 {
        display: flex;
        padding-bottom: 3vh;
        height: 320px;
    }

    .t4 {
        display: flex;
        padding-bottom: 1vh;
        height: 250px;
    }

    .hero-items-container {
        position: relative;
        z-index: 5; /* Always on top */
        max-width: 600px;
        gap: 1rem;
    }
    
    .bt-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
    }
    
    .hero-h1 {
        font-size: 2em;
        line-height: 1;
    }
    
    .hero-p {
        font-size: 1.1em;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}



/* MANIFESTO */

@media screen and (max-width: 768px) {

    .manifesto-line {  
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .manifesto-line .manifesto-big {  
        height: 8vh;
    }
    .manifesto-small {  
        font-size: 1rem;
    }
}



/* PROJECTS */

@media screen and (max-width: 1222px) {
    .project-container{
        margin: 0;
    }
    
    .bt-left{
        display: none !important;
    }

    .bt-right{
        display: none !important;
    }

    .projects-section{
        min-width: 0;
        gap: 15px;
    }

    .project-title-description-container {
        flex-direction: column;
        height: auto;
        gap: 15px;
    }

    .project-title-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 3vh;
        height: auto;
        font-weight: 700;
        margin: 0;
        width: 100%;
        border: var(--dark) 1px solid;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 0;
    }
    .project-description-container{
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2.2vh;
        width: 100%;
        font-weight: 500;
        font-style: italic;
        font-family: 'Montserrat', sans-serif;
        border: var(--dark) 1px solid;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 0;
    }

    .project-description-container p{
        margin: 0;
    }

    .project-name{
        font-size: 2.5vh;
    }

    .project-tags{
        font-size: 2.2vh;
    }

    .project-image {
        display: block;
        scroll-snap-align: center;
        max-width: 300px;
        max-height: auto;
    }

    .project-video {
        display: flex;
        flex-direction: column;
        scroll-snap-align: center;
        flex-shrink: 0;
        max-width: 300px;
        max-height: 168px;
    }

    .try-game-container{
        display: flex;
        flex-direction: row;
        padding-top: 10px;
    }
    
    .try-game-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: center;
        font-size: 1.7vh;
        font-weight: 200;
        color: var(--light-d);
        margin: 0;
    }


    .project-description{
        font-size: 2vh;
        font-weight: 200;
        color: var(--light);
        margin: 0;
        padding-top: 0px;
    }

    .project-description-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 5px 15px;
        background-color: var(--dark);
    }

    .project-bar img{
        height: 10px;
        width: 10px;
    }

    .project-bar{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        gap: 5px;
    }
    

    .media-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding-top: 10px;
        background-color: var(--dark-d);
        overflow: hidden; /* Keeps content inside */
        border-left: var(--dark-d) 7px solid;
        border-right: var(--dark-d) 7px solid;
    
    }

    
}