* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


/* TITLES */
@media screen and (max-width: 768px) {
    .title-container .title-text {  
        font-size: 2.3rem;
        max-height: 355px;
        
    }

    .title-container{
        margin-bottom: 30px;
        padding: 10px 15px;
        height: 67.5px;
    }
}

/* SECTIONS */
/* Global section styling */
@media screen and (max-width: 768px) {
    .section {  
        min-height: 100vh;
        padding:0 3vw;
        padding-bottom: 15px;
    }
}


@media screen and (max-width: 1065px) {
    .section {  
        padding:0 15px;
    }
}


@media screen and (max-width: 1065px) {

    .header {
        padding: 0 15px;
    }

}



/* HEADER */
@media screen and (max-width: 768px) {
    /* Hide the menu by default */

    .header {
        display: flex;
        width: 100%;
        height: 50px;
        padding-left: 10px;
        align-items: center;
    }
    
    .menu-item-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: fit-content;
        height: fit-content;
        background: var(--dark);
        border: var(--dark) 1px solid;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        transition: right 0.2s steps(3, end) forwards;
    }

    .menu-item {
        display: flex;
        text-align: center;
        width: 100%;
        text-decoration: none;
        padding: 15px 20px;
        cursor: pointer;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: var(--light);
    }
    
    .contact-menu-item {
        display:flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    .dropdown-content {
        padding: 0px;
        transition: height 0.2s steps(3, end), padding 0.1s steps(1, end);
        margin-top: .3rem;

    }

    .contact-menu-item:hover .dropdown-content {
        margin-top: .3rem;
    }

    /* Menu Button (Circular) */
    .menu-button {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background:var(--yellow);
        border: var(--dark) 1px solid;
        border-radius: 100px;
        cursor: pointer;
        z-index: 1100;
        transition: background 0.2s steps(2, end);
    }

    /* Menu Open */
    .menu-open .menu-item-container {
        right: 0;
    }

    /* Change button to red when menu is open */
    .menu-open .menu-button {
        background: var(--red);
    }
}





/* HERO */
@media screen and (max-width: 768px) {

    .hero-section {
        padding-top: 0;
        bottom: 0;
        height: 100vh;
        margin: 0;
    }

    .hero-triangles {
        position: absolute;
        transform: translateX(-50%); /* Center the triangle container */
        height: 50vh;

    }

    .hero-triangle {
        position: absolute;
        width: 100vw;
        height: 30vh;       /* Allow full height */

    }

    .t2 {
        display: flex;
        padding-bottom: 4vh;
        width: 100vw;
        height: 600px;
    }
    .t1 {
        display: flex;
        padding-bottom: 8vh;
        height: 550px;
    }

    .t3 {
        display: flex;
        padding-bottom: 3vh;
        height: 320px;
    }

    .t4 {
        display: flex;
        padding-bottom: 1vh;
        height: 250px;
    }

    .hero-items-container {
        flex-direction: column;
        align-items: center ;
        justify-content: flex-start;
        position: relative;
        z-index: 100; /* Always on top */
        max-width: 600px;
        height: 100%;
        gap: 1rem;
    }
    
    .bt-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30vh;
        height: 100%;
    }
    
    .hero-h1 {
        font-size: 2em;
        line-height: 1;
    }
    
    .hero-p {  
        text-align: center;
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}



/* MANIFESTO */

@media screen and (max-width: 768px) {

    .manifesto-section { 
        display: flex;
        flex-wrap: wrap;
        min-height: auto;
        gap: 15px;        
    }

    .manifesto-text {  
        gap:15px;
    }

    .manifesto-line {  
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .manifesto-line .manifesto-big {  
        width: 100vw;
    }
    .manifesto-small {  
        font-size: 1rem;
    }
}



/* PROJECTS */

@media screen and (max-width: 1222px) {
    .project-container{
        margin: 0;
    }
    
    .bt-left{
        display: none !important;
    }

    .bt-right{
        display: none !important;
    }

    .projects-section{
        min-width: 0;
        gap: 15px;
    }

    .project-title-description-container {
        flex-direction: column;
        height: auto;
        gap: 15px;
    }

    .project-title-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        height: auto;
        font-weight: 700;
        margin: 0;
        width: 100%;
        border: var(--dark) 1px solid;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 0;
    }
    .project-description-container{
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        width: 100%;
        font-weight: 500;
        font-style: italic;
        font-family: 'Montserrat', sans-serif;
        border: var(--dark) 1px solid;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 0;
    }

    .project-description-container p{
        margin: 0;
    }

    .project-name{
        font-size: 1.2rem;
    }

    .project-tags{
        font-size: .8rem;
    }

    .project-image {
        display: block;
        scroll-snap-align: center;
        max-width: 322px;
        max-height: 180px;
    }

    .project-video {
        display: flex;
        flex-direction: column;
        scroll-snap-align: center;
        flex-shrink: 0;
        max-width: 322px;
        max-height: 180px;
    }

    .try-game-container{
        display: flex;
        flex-direction: row;
        padding-top: 10px;
    }
    
    .try-game-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: center;
        font-size: 1.7vh;
        font-weight: 200;
        color: var(--light-d);
        margin: 0;
    }


    .project-description{
        font-size: 2vh;
        font-weight: 200;
        color: var(--light);
        margin: 0;
        padding-top: 0px;
    }

    .project-description-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 5px 15px;
        background-color: var(--dark);
    }

    .project-bar img{
        height: 10px;
        width: 10px;
    }

    .project-bar{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        gap: 5px;
    }
    

    .sketches-bar{
        background-color: var(--light-d);
        border-top: var(--dark) 1px solid;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .media-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding-top: 10px;
        background-color: var(--dark-d);
        overflow: hidden; /* Keeps content inside */
        border-left: var(--dark-d) 7px solid;
        border-right: var(--dark-d) 7px solid;
    }

        .sketches-frame {
        height: min(80vh, 520px); /* Adjust for smaller screens */
    }
    
    .sketches-image {
        position: absolute;
        width: 230px;
        height: auto;
        cursor: grab;
        display: none;
        transition: transform 0.3s steps(5, end), filter 0.3s steps(5, end);
        z-index: 1;
        border-radius: 10px;
    }
    
    .sketches-image.expanded {
        transform: scale(1.4);
        z-index: 10;
    }


    .sketches-frame {
        position: relative;
        width: 100%;
        height: min(80vh, 650px); /* 40% of viewport height, max 300px */
        overflow: hidden; /* Keep images inside */
        border-left: none;
        border-right: none;
        background-color: var(--light);
        padding-top: 0;
    }

}


/* ABOUTME */


.phone-grid {
    display: none;
}

@media screen and (max-width: 1065px) {

    .aboutme-section{
        gap: 15px !important;
    }

    .aboutme-description-image-container{
        flex-direction: column;
        padding: 0;
        gap: 0;
        margin: 0;
    }


    .aboutme-description-container{
        padding: 15px;

    }

    .aboutme-description-text{
        font-size: 1.2em;
        line-height: 1.5;
        text-align: left;
        margin: 0;
    }



    .grid {
        display: none;
    }
    .phone-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 15px;
    }

    /* titles */

    .phonetile{
        display: flex;
        flex-direction: column;
        background-color: var(--red);
        padding: 10px 15px;
        max-height: 355px;
        border-radius: 10px;
        border: var(--dark) 1px solid;
        height: 67.5px;
    }

    .sub-section{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .skills-learning-container{
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 15px;        
    }
    
    .skills{
        display: flex;
        flex-direction: column;
        background-color: var(--red);
        padding: 10px 15px;
        max-height: 355px;
        border-radius: 10px;
        border: var(--dark) 1px solid;
        height: 67.5px;

    }

    .skills-items{
        background-color: var(--red-d);
        border-radius: 10px;
        border: var(--dark) 1px solid;
        height: 67.5px;
    }

    .tile-text-l {
        display: inline-block;
        text-align: center;
        color: var(--light);
        font-family: 'Montserrat', sans-serif;
        font-size: 2.3rem !important;
        font-weight: 700;
        letter-spacing: 2%;
    
    }

    .tile-text {
        display: inline-block;
        text-align: center;
        color: var(--dark);
        font-family: 'Montserrat', sans-serif;
        font-size: 2.3rem !important;
        font-weight: 700;
        letter-spacing: 2%;
    
    }

    .learning{
        display: flex;
        flex-direction: column;
        background-color: var(--green);
        padding: 10px 15px;
        max-height: 355px;
        border-radius: 10px;
        border: var(--dark) 1px solid;
        max-height: 108px;
    }

    .learning-items{
        background-color: var(--green-d);
        border-radius: 10px;
        border: var(--dark) 1px solid;
        height: 67.5px;

    }
    
    .tile-items{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 10px !important;
        max-height: 108px;
        padding: 10px;
        border-radius: 10px;
    }
    

    .tile-items img{
        height: 100% !important;
        width: 100% !important;
    }


    .freetime-titles-container{
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 15px;        
    }

    /* subsections */


    .nature-media-frame{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        justify-content: space-between !important;
        height: 380px !important;
        width: 100% !important;
        background-color:var(--green) !important;
        border-radius: 10px !important;
        border: var(--dark) 1px solid !important;
        gap: 15px !important;
        padding: 15px !important;
      }

      .nature-media-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: fit-content;
        overflow: hidden;
        border-radius: 10px;
        background-color: var(--dark-d);
        height: 100% !important;
        padding: 15px;
        border: var(--dark-d) 1px solid;
      }

      .media-sidebar-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
        height: max-content !important;
        padding: 0 !important;
        width: 100% !important;
        padding-right: 5px !important;
      }

      .media-bt-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
        margin: 0;
      }

      .nature-bt, .nature-bt-left, .nature-bt-right{
        padding: 0 !important;
      }

      .speaker {
        margin-left: auto; /* Pushes it to the right */
        height: 46.5px; /* Optional: Define height */
        max-width: 100px; /* Example size, adjust as needed */
    }
      
      .trips-media-frame{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        justify-content: space-between !important;
        height: 400px!important;
        width: 100% !important;
        background-color:var(--red) !important;
        border-radius: 10px !important;
        border: var(--dark) 1px solid !important;
        gap: 15px !important;
        padding: 15px !important;
      }


      .trips-media-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        overflow: hidden;
        border-radius: 10px;
        background-color: var(--dark-d);
        height: 100% !important;
        padding: 15px;
        border: var(--dark-d) 1px solid;
        overflow-y: auto; 
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
      }

      .trips-bt-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 !important;
        gap: 15px;
        height: 100%;
      }

      .interaction-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }
      

      .crafts-media-frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 400px !important;
        width: 100% !important;
        background-color:var(--yellow);
        padding: 15px !important;
        border-radius: 10px !important;
        border: var(--dark) 1px solid !important;
        gap: 15px !important;
        padding: 15px !important;
      }

      .crafts-media-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: fit-content;
        overflow: hidden;
        border-radius: 10px;
        background-color: var(--dark-d);
        height: 100% !important;
        padding: 15px;
        border: var(--dark-d) 1px solid;
      }

      .tile-buttons-container{
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: space-between;
      }

      .tilebutton{
        border-radius: 10px;
      }

      /* CONTACTS */
      .contact-section{
        min-height: 50vh !important;
      }

      .p-desktop{
        text-align: center;
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 1rem;
        margin: 0;
        margin-bottom: 30px;
    }

    .social-icon-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 15px;
    }

     /* FOOTER */
    .footer-container{
        padding: 15px;
        width: 100%;
        height: min-content;
        gap: 15px;
    }

    .footer-item a{
        font-size: .6em;
        display: none;
    }

    /* Loading Text */
    .loading-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 300;
        color: var(--light-d);
        text-align: center;
        width: 100%;
        max-width: 80%;
        letter-spacing: 1%;
        height: 40px;
        position: absolute;
        bottom: 15%;
    }
}

